.navigation {
  height: 50px;
  background-color: rgb(99, 98, 98);
  display: flex;
  align-items: center;
  color: white;
  justify-content: flex-end;
}
.navigation ul {
  display: flex;
  margin-right: 50px;
}
.navigation ul li {
  margin-left: 20px;
  list-style-type: none;
}
.navigation ul li a {
  color: white;
  text-decoration: none;
}
